<%- include('partials/header'); -%>

<h1>Home</h1>
<%= homeContent %></>

<% for(let i = 0; i <blogPost.length; i++ ){%>
    <%console.log(blogPost[i].blogTitle)%>
<%}%>  

<%- include('partials/footer'); -%>